* {
    box-sizing: border-box;
    cursor: crosshair;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 2000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 1750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 2000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 1750px;
    }

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(187, 187, 187);
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 450px;
    padding: 5px;
    border-radius: 25px;
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size: cover;
    -webkit-animation: slidein 70s;
    animation: slidein 70s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    box-shadow: inset 0 0 20px rgb(0, 0, 0), inset 0 0 3px black, 0 0 3px black, 0 0 10px whitesmoke;
}

.title {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 5px;
    padding-left: 15px;
    color: rgba(48, 48, 48, 0.735);
    text-align: left;
}

/* animated background */
.moving-background {
    height: 100%;
    width: 100%;
    background: rgba(216, 222, 231, 0.149);
    border-radius: 25px;
}

.moving-background:hover .icon {
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgba(211, 211, 211, 0.822);
    transition: ease-in-out 1s;
}



.weather-icon {
    position: absolute;
    margin-bottom: 180px;
   
}

.form-box {
    display: flex;
    height: 100%;
    /* border: 2px solid red; */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    margin: 0;
    gap: 20px;
}


.question {
    text-align: left;
    color: rgba(0, 0, 0, 0.689);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 50px;
    text-shadow: 0 0 2px rgb(253, 253, 253);
    width: 300px;
    /* border: 2px solid blue; */
}

.busText {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 65px;
    margin-top: 0;
    text-shadow: 0 0 5px whitesmoke;
}
.walkText {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
    margin-top: 0;
    text-shadow: 0 0 5px whitesmoke;
}

.bus-icon,
.walk-icon {
    font-size: 4rem;
    margin-left: 10px;
}


.bus-walk-eval {
    display: flex;
    justify-content: left;
    width: fit-content;
    align-items: center;
    /* border: 2px solid red */
}

.icon {
    color: transparent;
    font-size: 2rem;
    -webkit-text-stroke: 1px black;
}


.divider {
    color: rgba(212, 212, 212, 0.833);
    margin-left: 5px;
    font-size: 1.5rem;
}



.dropdown-list {
    border-radius: 25px;
    background-color: rgba(245, 245, 245, 0.226);
    padding: 5px;
    margin-left: 5px;
    width: 100px;
    text-align: center;
    outline: none;
    border-color: whitesmoke;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(26, 26, 26, 0.93);
    letter-spacing: 2px;
}

select {
    font-size: 14px;
}

.dropdown-list:hover {
    background-color: rgba(245, 245, 245, 0.516);
    cursor: pointer;
}

.reset {
    border-radius: 25px;
    background-color: transparent;
    color: rgba(40, 40, 40, 0.822);
    position: absolute;
    text-align: center;
    outline: none;
    border: none;
    height: 25px;
    margin-left: 5px;
    margin-top: 35px;
    opacity: 0.5;
}

.reset:hover,
.repeat:hover {
    cursor: pointer;
    color: rgb(69, 69, 69);
    opacity: 1;
    background-color: transparent;

}

.reset:hover {
    outline: 1px solid rgb(35, 35, 35);
}

.hidden {
    display: none;
}


@media (max-width: 500px) {

    .title {
        margin-top: 10px;
    }

    .main-box {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .moving-background {
        border-radius: none;
    }

    .reset,
    .repeat {
        cursor: pointer;
        color: rgb(4, 4, 4);
        opacity: 1;
       
    }

    .icon {
        text-shadow: 0 0 2px rgb(255, 255, 255);
        color: rgba(174, 174, 174, 0.822);
    }
}